FoodCartClientWebApp/FoodCartClientWebApp/Connected Services/ServiceReference1/CartService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8015/CartService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FoodCartServiceLibrary" />
  <xs:element name="GetAllFoods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FoodCartServiceLibrary" minOccurs="0" name="GetAllFoodsResult" nillable="true" type="q1:ArrayOfFoodItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemToCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FoodCartServiceLibrary" minOccurs="0" name="item" nillable="true" type="q2:CartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemToCartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemFromCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FoodCartServiceLibrary" minOccurs="0" name="item" nillable="true" type="q3:CartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemFromCartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FoodCartServiceLibrary" minOccurs="0" name="item" nillable="true" type="q4:CartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemsFromCart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemsFromCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FoodCartServiceLibrary" minOccurs="0" name="GetAllItemsFromCartResult" nillable="true" type="q5:ArrayOfCartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemFromCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemFromCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FoodCartServiceLibrary" minOccurs="0" name="GetItemFromCartResult" nillable="true" type="q6:CartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchItemByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchItemByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FoodCartServiceLibrary" minOccurs="0" name="SearchItemByNameResult" nillable="true" type="q7:ArrayOfFoodItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>